/*@import "form.css";*/
@import "button.css";
@import "modal.css";
@import "animation.css";

body{
    @apply bg-gray-300/5
}
.stretched-link::after{
    content: "";
    @apply z-10 absolute inset-0 pointer-events-auto;
}
.vidrio{
    border-radius: 10px;
    border: 1px solid #5c5b5b;
    background: transparent;
    backdrop-filter: blur(8px);
}
.nav-brand {
    @apply text-xs ;
}
.nav-brand.active {
    @apply text-sm font-semibold py-2 px-4  border-b-2;
}